/* NAVBAR IN INDEX SECTION */
.navbar{
    display:flex;
    flex-direction: column;
}



/* IN ALL SECTIONS */
.goBack{
    margin-top:75px;
}

.input{
    width:200px;
}



/* MEMO SECTION */
.box{
    display:block;
    margin-top:10px;
    /* margin-right:30px; */
    width:50vw;
}

.box>a{
    font-size:25px;
}


